html {
  background-color: #212733;
  font-family: 'Roboto', sans-serif;
  color: white;

}

#wrap {
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 60px;
  padding: 0 32em 1em 32em;
  align-self: center;

}

input[type="text"] {
  align-self: center;
  height: 60px;
  font-size: 55px;
  display: inline-block;
  font-weight: 100;
  border: none;
  outline: none;
  color: white;
  padding: 3px;
  padding-right: 60px;
  width: 700px;
  position: absolute;
  top: 0;
  right: 0;
  left: 7em;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
  border-bottom: 1px solid #BBB;

}

/* input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
} */

input[type="text"]:focus {
  width: 700px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}
input[type="submit"] {
  height: 67px;
  width: 63px;
  display: inline-block;
  color:white;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRFU1NT9fX1lJSUXl5e1dXVfn5+c3Nz6urqv7+/tLS0iYmJqampn5+fysrK39/faWlp////Vi4ZywAAABF0Uk5T/////////////////////wAlrZliAAABLklEQVR42rSWWRbDIAhFHeOUtN3/ags1zaA4cHrKZ8JFRHwoXkwTvwGP1Qo0bYObAPwiLmbNAHBWFBZlD9j0JxflDViIObNHG/Do8PRHTJk0TezAhv7qloK0JJEBh+F8+U/hopIELOWfiZUCDOZD1RADOQKA75oq4cvVkcT+OdHnqqpQCITWAjnWVgGQUWz12lJuGwGoaWgBKzRVBcCypgUkOAoWgBX/L0CmxN40u6xwcIJ1cOzWYDffp3axsQOyvdkXiH9FKRFwPRHYZUaXMgPLeiW7QhbDRciyLXJaKheCuLbiVoqx1DVRyH26yb0hsuoOFEPsoz+BVE0MRlZNjGZcRQyHYkmMp2hBTIzdkzCTc/pLqOnBrk7/yZdAOq/q5NPBH1f7x7fGP4C3AAMAQrhzX9zhcGsAAAAASUVORK5CYII=) center center no-repeat;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
  left: 98em;
}

input[type="submit"]:hover {
  opacity: 0.8;
}


/* Line Chart Graph */
.Card{
  margin: 0 2em 0 2em;
  /* padding: 1em 1em 1em 1em; */
}

.cardHeader {
  align-self: center;
  font-family: 'Open Sans', sans-serif, 300;
  font-weight: 300;
  float: none;
  text-align: center;
  font-size: 1.4em;
  padding-top: 0.60em;
  /* margin: 1em 2em; */
}


.load {
  align-self: center;
  margin-left: 30em;
  margin-right: 30em;
}

.singleChart {
  padding: 2em;
  padding-bottom: 1em;
  padding-top: 2em;
  width: 85%;
}

.jumbo {
  margin: 2.5em;
  /* margin-top: 5.5em; */
  font-family: 'Libre Baskerville', serif;
  text-align: center;
  font-size: 3em;
}

.button1 {
  font-size: 2em;
  border-radius: 8px;
  background-color: #fbfbfd;
  color: #8e99a7;
  border: 1px solid #fbfbfd;
  margin-bottom: 1em;
}

.buttonHolder {
  text-align: center;
}

.emotionP {
  text-align: center;
  font-size: 3em;
  margin-top: 2em;
}

.redditTwitter {
  text-align: center;
  font-size: 3em;
  margin-top: 0;
}

.fa-angle-double-down {
  color: #8e99a7;
}
